body {
  background-color: beige;

}

.App {
  font-family: sans-serif;
  text-align: center;
}
.Card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  background-color: yellowgreen;
  margin: 10px 0px 10px 0px;
}
h1 {
  color: tomato;
}
span {
  padding: 25px 100px 25px 100px;
  font-size: 25px;
}
button {
  background-color: blue;
  color: pink;
  font-size: 15px;
  margin: 0px 10px 0px 10px;
}